CoupaLib/FromCoupa/EAM/PurchaseOrderInfo.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"	targetNamespace="http://CoupaLib/FromCoupa/EAM"	xmlns:bons1="http://CoupaLib/FromCoupa/EAM">	<xsd:include schemaLocation="PurchaseOrderLineSplit.xsd"></xsd:include>	<xsd:include schemaLocation="PurchaseOrderLine.xsd"></xsd:include>	<xsd:include schemaLocation="PurchaseOrderHeader.xsd"></xsd:include>	<xsd:complexType name="PurchaseOrderInfo">		<xsd:sequence>			<xsd:element maxOccurs="unbounded" minOccurs="0"				name="Header" type="bons1:PurchaseOrderHeader">			</xsd:element>			<xsd:element maxOccurs="unbounded" minOccurs="0" name="Line"				type="bons1:PurchaseOrderLine">			</xsd:element>			<xsd:element minOccurs="0" name="LineSplit"				type="bons1:PurchaseOrderLineSplit" maxOccurs="unbounded">			</xsd:element>		</xsd:sequence>	</xsd:complexType></xsd:schema>