CoupaLib/ChartOfAccounts/COADimensionsIntf.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="COADimensionsIntf" targetNamespace="http://CoupaLib/ChartOfAccounts/COADimensionsIntf" xmlns:bons1="http://AwLib" xmlns:bons2="http://www.infor.com/boi_interface/AwPollDimensions" xmlns:tns="http://CoupaLib/ChartOfAccounts/COADimensionsIntf" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <wsdl:types>
    <xsd:schema targetNamespace="http://CoupaLib/ChartOfAccounts/COADimensionsIntf">
      <xsd:import namespace="http://www.infor.com/boi_interface/AwPollDimensions" schemaLocation="../com/infor/www/boi_interface/AwPollDimensions/com.boi.common.pollcoa.PollResultSetDims.xsd"/>
      <xsd:import namespace="http://AwLib" schemaLocation="../ApplicationProperties.xsd"/>
      <xsd:import namespace="http://AwLib" schemaLocation="../AwCompanyInfo.xsd"/>
      <xsd:element name="processCOADimensions">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="eventId" nillable="true" type="xsd:string"/>
            <xsd:element name="companyInfo" nillable="true" type="bons1:AwCompanyInfo"/>
            <xsd:element name="appProps" nillable="true" type="bons1:ApplicationProperties"/>
            <xsd:element name="PollResultSetDims" nillable="true" type="bons2:com.boi.common.pollcoa.PollResultSetDims"/>
            <xsd:element name="sourceSystem" nillable="true" type="xsd:string"/>
            <xsd:element name="targetSystem" nillable="true" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
    <wsdl:message name="processCOADimensionsRequestMsg">
    <wsdl:part element="tns:processCOADimensions" name="processCOADimensionsParameters"/>
  </wsdl:message>
    <wsdl:portType name="COADimensionsIntf">
    <wsdl:operation name="processCOADimensions">
      <wsdl:input message="tns:processCOADimensionsRequestMsg" name="processCOADimensionsRequest"/>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>